    body {
    
    background-color: #d5e0f5;
    max-width: 1100px;
    margin: 0 auto;

    }


    .main-page {
        margin-top: 100px;
    }
    
    
    h1 {
        color: blueviolet;
        font-size: 35px;
    }
    
    
    h2 {
        color: darkblue;
        font-size: 30px;
    }
    
    
    h3 {
        color: mediumpurple;
        font-size: 25px;
    }
    
    
     p {
        font-size: 20px;
        margin-bottom: 50px;
        line-height: 1.5
    }
    
    
    .button {
        background-color: mediumpurple;
        color: aliceblue;
        border: none;
        border-radius: 30px;
        padding: 20px 30px;
        margin: 20px;
        position: relative;
        cursor: pointer;
        outline: none;
        font-size: 13px;
        
    }
    
    
    .button-container {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        
    }

    
    .top-line {
        background-color: midnightblue;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100px;
        width: 100%;
        z-index: 500;
        
    }
    
    
    .left-line {
        background-color: midnightblue;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100px;
        z-index: 1000;
    }
    
    
    .right-line {
        background-color: midnightblue;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100px;
        z-index: 1000;
    }
    
    
    img {
        border: 30px solid #945acd;
        padding: 20px;
    }
